



.NamesStyled{
    padding: 10px;
    font-size: 15px;
    background-color: #5977b8;
    border-radius: 5px;
    margin: 10px;
    max-width: 100px;
}

.clock{
    font-size: 30px;
    font-weight: 600;
}

.timer-progressbar{
    display: flex;
}

.timer-progressbar__fill{
    background-color: #306896;
}

.timer-progressbar__empty{
    background-color: #b43c3c;
}